# MongoDB URI: reemplaza <db_password> por la contraseña real
MONGODB_URI=mongodb+srv://ITUC_db_user:<db_password>@cluster0.njvmzvl.mongodb.net/?appName=Cluster0
MONGODB_DB=ITUC_db

# Supabase
SUPABASE_URL=https://szurscobpuayftnhusif.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6dXJzY29icHVheWZ0bmh1c2lmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ0Njc2NDcsImV4cCI6MjA4MDA0MzY0N30.ZkJISItgnrLHOUiE_n8YhqscUJZw_QOR8qMf0gjvM5I
SUPABASE_BUCKET=avatars

# opcional: puerto del servidor
PORT=3000
